<!-- app/views/devise/sessions/new.html.erb -->
<div class="max-w-md mx-auto">
  <h2 class="text-4xl font-bold uppercase mb-8 border-b-4 border-black pb-2">Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="space-y-6">
      <div>
        <%= f.label :email, class: "block uppercase font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border-2 border-black p-2 focus:outline-none focus:border-gray-600" %>
      </div>

      <div>
        <%= f.label :password, class: "block uppercase font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full border-2 border-black p-2 focus:outline-none focus:border-gray-600" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "uppercase" %>
        </div>
      <% end %>

      <div>
        <%= f.submit "LOGIN", class: "w-full border-4 border-black px-8 py-3 uppercase font-bold hover:bg-black hover:text-white cursor-pointer" %>
      </div>
    </div>
  <% end %>

  <div class="mt-8 text-center">
    <%= link_to "FORGOT PASSWORD?", new_password_path(resource_name), class: "uppercase hover:underline" %><br />
    <%= link_to "REGISTER", new_registration_path(resource_name), class: "uppercase hover:underline" %>
  </div>
</div>

